<div class="jumbotron text-center">
  <h1>{{pollQuestion}}</h1>
</div>

<div class="col-md-4 col-md-offset-4">
  <div *ngFor="let chartLabel of pieChartLabels; let i = index" class="form-check">
    <input [(ngModel)] = "voteValueSelected" type="radio" class="form-check-input" value={{i}}>
    <label class="form-check-label" for="materialGroupExample1">{{chartLabel}}</label>
  </div>
  <br>
  <button *ngIf="voteValueSelected==-1" disabled type="button" class="btn btn-primary">Submit Vote</button>
  <button *ngIf="voteValueSelected!=-1" type="button" class="btn btn-primary" (click)="sendVote()">Submit Vote</button>
  <br>
  <br>
</div>


<div style="display: block;">
  <canvas baseChart 
    [data] = "pieChartData"
    [labels] = "pieChartLabels"
    [chartType] = "pieChartType"
    [options] = "pieChartOptions"
    [plugins] = "pieChartPlugins"
    [legend] = "pieChartLegend">
  </canvas>
</div>